<nav>
    <ul>
        <li class="boards trello-icon icon"><span>Boards</span>
        </li><li class="search-container">
            <div class="search search-icon icon"></div>
            <div class="active-search">
                <div>
                    <input type="text">
                </div><i class="x-icon icon"></i><i class="goto-icon icon"></i>
            </div>
        </li>
    </ul>
    <h1>Trello</h1>
    <ul class="user-info">
        <li class="create-icon icon"></li>
        <li class="split-button-1">VR</li>
        <li class="split-button-2">Victor Reyes</li>
        <li class="info-icon icon"></li>
        <li class="notifications-icon icon"></li>
    </ul>
</nav>

<main class="dashboard">
  <section class="board-group">
    <header>
      <div class="board-section-logo">
      <span class="person-logo"></span>
      </div>
      <h2>Personal Boards</h2>
    </header>

    <ul class="dashboard-board-tiles">
      <li class="board-tile">
        <a>
          <span class="board-title">Website Development</span>
        </a>
      </li>

      <li class="board-tile">
        <a>
          <span class="board-title">Recipes</span>
        </a>
      </li>

      <li class="board-tile">
        <a>
          <span class="board-title">Weekend Projects</span>
        </a>
      </li>

      <li class="board-tile">
        <a>
          <span class="board-title">Legal Stuff</span>
        </a>
      </li>

      <li class="board-tile">
        <a>
          <span class="board-title">Running Amuck</span>
        </a>
      </li>

      <li class="board-tile">
        <a class="new-board">
          <span class="board-title">Create new board...</span>
        </a>
      </li>

      <li class="board-tile">
        <section class="new-board-form">
          <header>
            <span>Create Board</span>
            <a href="#" class="icon-sm icon-close"></a>
          </header>
          <form>
            <dl>
              <dt>Title</dt>
              <dd>
                <input type="text" placeholder='Like "Publishing Calendar"...'>
              </dd>
            </dl>
            <button type="submit">Create</button>
          </form>
        </section>
      </li>
    </ul>
  </section>
</main>
