<section class="new-board-form">
  <header>
    <span>Create Board</span>
    <a href="#" class="icon-sm icon-close"></a>
  </header>
  <form>
    <dl>
      <dt>Title</dt>
      <dd>
        <input type="text" placeholder='Like "Publishing Calendar"...'>
      </dd>
    </dl>
    <button type="submit">Create</button>
  </form>
</section>
